body {
    font-size: 14px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

a {
text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}